body div{
    margin-left: 130px;
    font-size: 30px;
    font-weight: bold;
    color: dimgray;


}


div p{
    margin:revert;
    
}

.fir{
    border: 1px solid #a31313;
      width:480px;
}
#a{
    height: 75px;
    background-color: lightcoral;
    
}
#b{
    height: 150px;
    background-color: lightgreen;
   
}
#c{
    height: 125px;
    background-color: lightslategray;
   
}
#d{
    height: 125px;
    background-color: maroon;
    
}
p{text-align: center;}

.sec{
    border: 1px solid #0a0000;
    width: 240px;
    height: 250px;

}
#e{
    float: left;
    background-color: mediumblue;
}
#f{
    float: left;
    margin: auto;
    background-color: orangered;
}
#g{
    float: left;
    margin-top: 250px;
    margin-left: 130px;
    position: absolute;
    background-color: orchid;
}
#h{ 
    margin: 0px;
    margin-top: 250px;
    float: left;
    position: absolute;
    margin-left: 370px; 
    background-color: #216402; 
}
#i{
background-color: black;
}

.ther{
    border: 1px solid #1392a3;
    width:480px;
    height: 80px;
    margin-top: 500px;
    }



@media(min-width : 768px ){

    .fir{
        border: 1px solid #216402;
        width:960px;
  }
    
  #a{
    height: 100px;

    background-color: violet;
    
}

#b{
    width: 200px;
    height: 600px;
    background-color: yellow;
    position: absolute;
}

#c{
    width: 380px;
    height: 200px;
    float: left;
    margin-left: 330px;
    background-color: teal;
}

#d{
    width: 380px;
    height: 200px;
    margin-left: 710px;
    position: absolute;
    float: right;
background-color: purple;
}
#e{
    width: 190px;
    height: 250px;
    margin-left: 330px;

    margin-top: 200px;
    position: absolute;
    float: left;
    background-color: indianred;
    margin-top: 200px;
}
#f{

    width: 190px;
    height: 250px;
    margin-left: 520px;
    margin-top: 200px;
    position: absolute;
    float: right;
    background-color: darkblue;
}
#g{
    width: 190px;
    height: 250px;
    float: left;
    margin-top: 200px;
    position: absolute;
    margin-left: 710px;
    background-color: lightslategrey;
}
#h{
    width: 190px;
    height: 250px;
    margin-left: 900px;
    margin-top: 200px;
    position: absolute;
    float: right;
    background-color: darkred;
}
#i{
    width: 760px;
    height: 150px; 
    margin-left: 330px;
    margin-top: 450px;
    background-color: darkviolet;
}
}
